<form class="profile-editor" method="post" action="#/editProfile/{{user._id}}">
    <label>First name:</label><input type="text" name="firstName" value="{{user.firstName}}"><br>
    <label>Last name:</label><input type="text" name="lastName" value="{{user.lastName}}"><br>
    <label>Phone:</label><input type="text" name="phone" value="{{user.phone}}"><br>
    <label>E-mail:</label><input type="text" name="currentEmail" value="{{user.currentEmail}}"><br>
    <input type="submit" value="Save changes">
</form>