<div id="myChirps" class="chirps">
    <h2 class="titlebar">Chirps</h2>
    {{#each chirps}}
        <article class="chirp">
            <div class="titlebar">
                <a href="#/followPage/{{author}}" class="chirp-author">{{author}}</a>
                <span class="chirp-time">{{date}}</span><a href="#/delete/{{_id}}">Delete</a>
            </div>
            <p>{{text}}</p>
        </article>
    {{else}}
        No chirps in database
    {{/each}}
</div>