{{> nav}}
<div class="meme-details">
    <div class="my-meme-details">
        <a href="#/detailsMeme/{{meme._id}}" id="meme-title">{{meme.title}}</a>
        <img src="{{meme.imageUrl}}">
        <div class="meme-props">
            <h2>Description</h2>
            <p class="meme-description">
                {{meme.description}}
            </p>
        </div>

        <div class="meme-details-buttons">
            <a class="meme-details-button" href="#/userProfile/{{meme._acl.creator}}">Created by User</a>
            {{#if meme.isOwner}}
            <a href="#/editMeme/{{meme._id}}" class="meme-details-button">Edit</a>
            <a href="#/deleteMeme/{{meme._id}}" class="meme-details-button">Delete</a>
            {{/if}}
        </div>
    </div>
</div>
{{> footer}}