{{> header}}
    <main>
        <section id="viewDetailsAd" class="viewDetailsAd">
            <img src="{{ad.image}}" alt="image" height="200" width="280">
            <h4>Title:</h4>
            <h1>{{ad.title}}</h1>
            <h4>Description:</h4>
            <h3>{{ad.description}}</h3>
            <h4>Publisher:</h4>
            <h3>{{ad.publisher}}</h3>
            <h4>Date:</h4>
            <h3>{{ad.datePublished}}</h3>
            <button>Back</button>
        </section>
    </main>
{{> footer}}