{{#each comments}}
<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        submitted {{data}} ago by {{author}}
        {{#if isOwner}}
            | <a href="#/deleteComment/{{_id}}" class="deleteLink">delete</a>
        {{/if}}
    </div>
</article>
{{else}}
    No comments yet.
{{/each}}