<div class="post">
    <div class="col thumbnail">
        <a href="{{totalPost.url}}">
            <img src="{{totalPost.imageUrl}}">
        </a>
    </div>
    <div class="post-content">
        <div class="title">
            <a href="{{totalPost.url}}">
                {{totalPost.title}}
            </a>
        </div>
        <div class="details">
            {{#if totalPost.description}}
            <p>{{totalPost.description}}</p>
            {{else}}
                No description
            {{/if}}
            <div class="info">
                submitted {{totalPost.date}} ago by pesho
            </div>
            {{#if totalPost.isOwner}}
            <div class="controls">
                <ul>
                    <li class="action"><a class="editLink" href="#/editPost/{{totalPost._id}}">edit</a></li>
                    <li class="action"><a class="deleteLink" href="#/deletePost/{{totalPost._id}}">delete</a></li>
                </ul>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="clear"></div>
</div>